body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#myCanvas {
    background-color: blue;
}

/* img {
    display: none;
    height: 150px;
    width: 150px;
} */

.canvas-container {
    background-color: blue;
}

.gallery {
    background-color: chartreuse;
}

.mouse {
    background-color: red;
}
.touch {
    background-color: yellow;
}
.both {
    background-color: aqua;
}
